<% if event.user == current_user %>
<article class="event">
 
    <h5><%= link_to event.name, event_path(event) %></h5>
      <p>
        <strong>User</strong>
        <%= event.user.email %>
      </p>
    <small>
    
      <time><%= event.start_time %></time>
       
      |
      <%= link_to 'Edit', edit_event_path(event) %>
      |
      <%= link_to 'Delete', event_path(event), method: :delete, data: { confirm: 'Ви впевненні?' } %>
      
    </small>
 
 
</article>
<% end %>