

<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
<div class="alert alert-danger">
  <h5><%= t('common.errors') %></h5>
  <ul>
    <% event.errors.full_messages.each do |message| %>
    <li> <%= message %></li>
    <%end%>
  </ul>
</div>
<%end%>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
