<p id="notice"><%= notice %></p>

<h4>Events</h4>
<% if user_signed_in? %>
<%= render @events %>

<br>

<div class="event-calendar">
  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>
      <% events.each do |event| %>
        <div>
          <% if event.user == current_user%>
            <%= link_to event.name, event %>
            <% end %>
        </div>
      <% end %>
  <% end %>
</div>
<% end %>
